.App {
  text-align: center;
}
body{
  
  background: linear-gradient(135deg, #325571 0%, #8e9fa4 38%, #decab2 66%, #f2d580 78%, #ffa642 100%);
}

.form-container{
  margin-top: 5px;
  display: flex;
  justify-content: center;
}
.meme-form{
  width: 500px;
  font-size: 20px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #f2f2f2;
}

input{
  width: 100%;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
}

.form-container button{
  width: 100%;
background-color: #2794b1;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
border-radius: 4px;
cursor: pointer;
}

.form-container button:hover{
  background-color: #0e4d5f;
}

.memewrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 350px;
  height: 350px;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  border: 5px solid black;
  box-shadow: 0 0 10px 5px;
  margin-top: 17px;
}

